<h2>CD-R Technical Metadata</h2>
<table>
	<tr>
		<td>Damage</td>
		<td>
			<% if @edit_mode %>

			<% else %>

			<% end %>
		</td>
	</tr>
	<tr>
		<td>Preservation Problems</td>
		<td>
			<% if @edit_mode %>

			<% else %>

			<% end %>
		</td>
	</tr>
	<tr>
		<td>Format Duration</td>
		<td>
			<% if @edit_mode %>

			<% else %>

			<% end %>
		</td>
	</tr>
</table>