<h2>New Box</h2>
<%# special case where this needs to be :box not @box %>
<% @box = Box.new %>
<% @box.bin_id = @bin.id %>
<%= form_for([@bin, @box]) do |f| %>
	<table>
		<tr>
			<th>MDPI barcode</th>
			<td>
				<%= f.text_field(:mdpi_barcode, readonly: true, class: "mdpi") %>
			</td>
		</tr>
	</table>
	<%= f.submit('Create New Box') %>
<% end %>
