<% content_for :context_menu do %>
  <div class="contextMenuItem">
    <%= link_to("Cancel", :action => 'show', :id => @bin.id) %>
  </div>
<% end %>
<div>
  <h2>Delete Bin</h2>
    <% @submit_text = "Delete Bin" %>
    <% @action = 'destroy' %>
    <%= render(:partial => "bin") %>
</div>