<% content_for :context_menu do %>
  <div class="contextMenuItem">
	  <%= link_to("Create Bin", {:action => 'new'}) %>
	</div>
	<div class="contextMenuItem">
	  <%= link_to("Create Bin", new_box_path) %>
	</div>
<% end %>
<div class="left">
	<h2>Bins</h2>
	<%= render 'bins_table' %>
</div>
<div class="left">
	<h2>Unassigned Boxes</h2>
	<%= render 'boxes/boxes_table' %>
</div>
