<% content_for :context_menu do %>
  <div class="contextMenuItem">
    <%= link_to("Return to Bin", {:controller => 'bins', :action => 'show', :id => @bin.id}) %>
  </div>
<% end %>

<h2>Workflow Status History for Bin [<%= @bin.id %>]</h2>
<%= render(partial: "workflow_status_templates/workflow_history_table") %>
