  <%= render(partial: 'physical_objects/metadata_fields_only', locals: { f: f }) %>
  <div id="technicalMetadatum" class="left">
    <%= render(:partial => tm_partial_path(@tm)) %>
  </div>
  <% if @picklisting %>
  <script type="text/javascript">
    el = $("#physical_object_mdpi_barcode")
    el.focus();
    if (el.val() == 0) {
      el.select();
    }
  </script
  <% end %>
