<% content_for :context_menu do %>
  <div class="contextMenuItem">
    <%= link_to("Cancel", :action => 'show', :id => @physical_object.id) %>
  </div>
<% end %>
<div>
  <h2>Delete Physical Object</h2>
  <% @submit_text = "Delete Physical Object" %>
  <% @action = 'destroy' %>
  <%= render(:partial => "physical_object_form") %>
</div>
