  <% content_for :context_menu do %>
    <div class="contextMenuItem">
      <%= link_to("Create New Physical Object", controller: 'physical_objects', action: 'new') %>
    </div>
    <div class="contextMenuItem">
      <%= link_to("Upload Spreadsheet", upload_show_physical_objects_path) %>
    </div>
  <% end %>
  <h2>Physical Objects</h2>
  <%= render 'physical_objects_table' %>

