<% content_for :context_menu do %>
	<div class="contextMenuItem">
    <%= link_to("Edit", :action => 'edit', id: @picklist.id) %>
  </div>
  <div>
		<%= link_to("Delete", {action: 'destroy', id: @picklist.id}, {:confirm => "Are you sure you want to delete this Picklist?"}) %>
  </div>
<% end %>
<%= render(:partial => "picklist") %>