<% content_for :context_menu do %>
  <div class="contextMenuItem">
    <%= link_to "Cancel", signal_chain_path(@signal_chain) %>
  </div>
<% end %>

<div>
  <h2>Edit Signal chain</h2>
  <% @edit_mode = true %>
  <% @action = "update" %>
  <% @submit_text = "Update Signal chain" %>
  <%= render 'signal_chain' %>
</div>
