<% content_for :context_menu do %>
  <div class="contextMenuItem">
    <%= link_to("Create New Workflow Status", {action: 'new'}) %>
  </div>
  <div class="contextMenuItem">
    <%= link_to("Create New Condition Status", "#") %>
  </div>
<% end %>

<h2>Statuses</h2>
<% WorkflowStatusTemplate.new.object_types.keys.each do |object_type| %>
  <%= render 'workflow_status_table', object_type: object_type %>
<% end %>
