<% content_for :context_menu do %>
  <div class="contextMenuItem">
    <%= link_to("Cancel", {action: 'index'}) %>
  </div>
<% end %>
<%= error_messages_for(@picklist_specification) %>
<div id='new_picklist_spec_div' class='left'>
	<h2>Select Format</h2>
	Format: 
	<%= select_tag :format, options_for_select(@formats), :onchange => "set_format_div(this.value, true)" %>
</div>
<div id="formatDiv">
</div>
