<% content_for :context_menu do %>
  <div class="contextMenuItem">
    <%= link_to("Edit", {action: 'edit', id: @ps.id}) %>
  </div>
  <div class="contextMenuItem">
    <%= link_to("Delete", picklist_specification_path(@ps.id), method: :delete, data: {confirm: 'Are you sure you want to delete this Picklist Specification?'}) %>
  </div>
  <div class="contextMenuItem">
    <%= link_to("Query", {action: 'query', id: @ps.id}) %>
  </div>
<% end %>
<%= render(partial: 'show_picklist_specification') %>