<div>
	<h2>Previously Billed Physical Objects</h2>
	<table>
		<tr>
			<th>Barcode</th>
			<th>Spread Sheet Name</th>
			<th>Billing Date</th>
		</tr>
		<% @failed.each do |p| %>
			<tr>
				<td><%= p.mdpi_barcode %></td>
				<td><%= p.spread_sheet_filename %></td>
				<td><%= p.display_date_billed %></td>
			</tr>
		<% end %>
	</table>
</div>