<div>
	<h2>MDPI Barcodes Without Matching Physical Objects</h2>
	<table>
		<tr>
			<th>Barcode</th>
		</tr>
		<% @not_found.each do |p| %>
			<tr>
				<td><%= p.mdpi_barcode %></td>
			</tr>
		<% end %>
	</table>
</div>
