<% content_for :context_menu do %>
  <div class="contextMenuItem">
    <%= link_to("Cancel", {action: 'show', id: @condition_status_template.id}) %>
  </div>
<% end %>
<div>
  	<% @submit_text = "Update Condition Status" %>
  	<% @edit_mode = true %>
  	<% @action = 'update' %>
   	<%= render(:partial => "condition_status_template_form") %>
</div>
