<% content_for :context_menu do %>
  <div class="contextMenuItem">
    <%= link_to "Cancel", user_path(@user) if policy(@user).show? %>
  </div>
<% end %>
<div>
  <h2>Edit User</h2>
  <% @edit_mode = true %>
  <% @action = "update" %>
  <% @submit_text = "Update User" %>
  <%= render 'user' %>
</div>
