<% content_for :context_menu do %>
  <div class="contextMenuItem">
    <%= link_to "Create User", new_user_path if policy(User).new? %>
  </div>
<% end %>
<div>
  <h2>Users</h2>
  E-Mail link: <a href='mailto:<%= @users.map { |u| u.username }.join(';')%>'>All users</a>
  <%= render 'users_table' %> 
</div>
