<%= error_messages_for(@box) %>
<h2>New Box</h2>
<%= form_for(@box) do |f| %>
  <table>
    <tr>
      <th>MDPI barcode</th>
      <td>
        <%= f.text_field(:mdpi_barcode, onchange: 'validateBarcode(this)', onkeyup: "validateBarcode(this)") %>
      </td>
    </tr>
  </table>
  <%= f.submit('Create New Box') %>
<% end %>
