<% content_for :context_menu do %>
  <div class="contextMenuItem">
    <%= link_to("Edit", {action: 'edit', id: @ps.id}) %>
  </div>
  <div class="contextMenuItem">
    <%= link_to("Delete", {action: 'destroy', id: @ps.id}, {:confirm => "Are you sure you want to delete this Picklist Specification?"}) %>
  </div>
<% end %>
<% if @ps.format == "Open Reel Tape" %>
	<%= render(partial: 'ot') %>
<% else %>

<% end %>