<% content_for :context_menu do %>
  <div class="contextMenuItem">
    <%= link_to("Edit", {action: 'edit', id: @workflow_status_template.id}) %>
  </div>
  <div class="contextMenuItem">
    <%= link_to("Delete", @workflow_status_template, method: 'delete', data: {confirm: 'Are you sure you want to delete with Workflow Status Tempalte?'}) %>
  </div>
  <div class="contextMenuItem">
    <%= link_to("List Statuses", {controller: :status_templates, action: 'index'} ) %>
  </div>
<% end %>
<div>
  	<% @submit_text = "Create Workflow Status" %>
  	<% @edit_mode = false %>
  	<% @action = '' %>
   	<%= render(:partial => "new_physical_object_workflow_status_form") %>
</div>
