<% @shipped.each do |p| %>
	<%= form_for(p, url: {controller: 'returns', action: "physical_object_missing", id: p.id}) do |f| %>
		<table class="picklistTable">
				<tr class="odd packed">
					<td class='ephemera' align="center">
						<%= p.has_ephemera ? "<img alt='had ephemera' src='/folder.png' />".html_safe : "" %>
					</td>
					<td>
						<img alt="mdpi barcode" src="/gs_mdpi_barcode.png" />
						<%= f.text_field(:mdpi_barcode, readonly: true, maxlength: "14", size: "14", class: "mdpi") %>
					</td>
					<td>
						Call Number: <%= p.call_number %>
					</td>
				</tr>
		</table>
	<% end %>
<% end %>
