<h2>Bin <i><%= @bin.identifier %></i></h2>

<div>
	<div class="left">
		<h2>Items Shipped <%= @shipped.size %></h2>
		<table>
			<thead>
				<tr></tr>
			</thead>
		</table>
	</div>
	<div class="left">
		<h2>Items Returned <%= @returned.size %> the query is broken...</h2>
		<table>
			
		</table>
	</div>
</div>