<div class="left">
<h2>Workflow Statuses</h2>
<% WorkflowStatusTemplate.new.object_types.keys.each do |object_type| %>
  <%= render 'workflow_status_templates/workflow_status_table', object_type: object_type %>
<% end %>
</div>
<div class="left">
<h2>Condition Statuses</h2>
<% ConditionStatusTemplate.new.object_types.keys.each do |object_type| %>
  <%= render 'condition_status_templates/condition_status_table', object_type: object_type %>
<% end %>
</div>
