<% content_for :context_menu do %>
  <div class="contextMenuItem">
    <%= link_to("Create New Workflow Status", controller: :workflow_status_template, action: :new) %>
  </div>
  <div class="contextMenuItem">
    <%= link_to("Create New Condition Status", controller: :condition_status_template, action: :new) %>
  </div>
<% end %>

<div class="left">
  <h2>Workflow Statuses</h2>
  <% WorkflowStatusTemplate.new.object_types.keys.each do |object_type| %>
    <%= render 'workflow_status_template/workflow_status_table', object_type: object_type %>
  <% end %>
</div>

<div class="left">
  <h2>Condition Statuses</h2>
  <% ConditionStatusTemplate.new.object_types.keys.each do |object_type| %>
    <%= render 'condition_status_template/condition_status_table', object_type: object_type %>
  <% end %>
</div>
