<div class="headerDiv">

</div>
	<div class="scrollingDiv">
		<% @picklist.physical_objects.each_with_index do |p, index| %>
			<%= render 'picklist_physical_object_form', p: p, index: index %>
		<% end %>
	</div>
