<% content_for :context_menu do %>
  <div class="contextMenuItem">
    <%= link_to("Cancel", :action => 'show', :id => @batch.id) %>
  </div>
<% end %>
<div>
  <h2>Delete Batch</h2>
    <% @submit_text = "Delete Batch" %>
    <% @action = 'destroy' %>
    <%= render(:partial => "batch") %>
</div>