<% content_for :context_menu do %>
  <div class="contextMenuItem">
	  <%= link_to("Cancel", {:action => 'show', :id => @batch.id}) %>
	</div>
<% end %>
<div>
  <h2>Edit Batch</h2>
    <% @edit_mode = true %>
    <% @action = "update" %>
    <% @submit_text = "Update Batch" %>
    <%= render(:partial => "batch") %>
</div>