<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Batch:</Data></Cell>
        <Cell><Data ss:Type="String"><%= @batch.identifier %></Data></Cell>
      </Row>
      <% if @batch.bins.any? %>
        <Row>
          <Cell><Data ss:Type="String">Bin barcode</Data></Cell>
          <Cell><Data ss:Type="String">Bin identifier</Data></Cell>
          <Cell><Data ss:Type="String">Physical location</Data></Cell>
        </Row>
	<% @batch.bins.each do |bin| %>
        <Row>
          <Cell><Data ss:Type="String"><%= bin.mdpi_barcode %></Data></Cell>
          <Cell><Data ss:Type="String"><%= bin.identifier %></Data></Cell>
          <Cell><Data ss:Type="String"><%= bin.physical_location %></Data></Cell>
        </Row>
	<% end %>
      <% else %>
        <Row><Cell><Data ss:Type="String">No bins in batch</Data></Cell></Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>
