<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <% @media_format = @batch.media_format %>
      <% @media_genre = TechnicalMetadatumModule::TM_GENRES[@media_format] %>
      <% @column_names = ["Object Barcode", "Batch number", "Batch description", "Format", "Unit", "IU Object ID - Call number", "IU Object ID - Catalog barcode", "IU Collection ID", "Title", "Carrier Stream Index", "Container barcode", "Container name", "Container description", "Physical Condition – Damage", "Physical Condition - Preservation Problems", "Number of preservation masters expected", "Output file-name prefix"]%>
      <% if @media_genre == :audio %>
        <% @column_names += ["Embedded file info - Bext Chunk - Description", "Embedded file info - Info List - ICMT", "Embedded file info - Info List - IARL"] %>
      <% end %>
      <%# box column %>
      <% if ["CD-R","DAT","LP"].include?(@media_format) %>
        <% @column_names << "Box barcode" %>
      <% end %>
      <%# format-specific columns %>
      <% if @media_format == "CD-R" %>
      <% elsif @media_format == "DAT" %>
        <% @column_names += ["Sample rate", "Cassette length"] %>
      <% elsif @media_format == "LP" %>
        <% @column_names += ["Year", "Label", "Diameter in inches", "Recording type", "Groove type", "Playback speed"] %>
      <% elsif @media_format == "Open Reel Audio Tape" %>
        <% @column_names += ["Year", "Tape base", "Reel size", "Track configuration", "Sound field", "Playback speed", "Tape thickness", "Tape stock brand", "Directions recorded"] %>
      <% end %>
      <%# Conditions and Notes %>
      <% @column_names += ["Condition Notes", "Other Notes"] %>
      <Row>
      <% @column_names.each do |column_name| %>
        <Cell><Data ss:Type="String"><%= column_name %></Data></Cell>
      <% end %>
      </Row>
      <% if @bins.any? %>
        <% @bins.each do |bin| %>
          <%# LOOP THROUGH BOXES FIRST %>
          <% bin.boxes.each do |box| %>
            <% box.physical_objects.each do |po| %>
	      <%= render 'shipping_manifest_physical_object', bin: bin, box: box, po: po %>
            <% end %>
          <% end %>
          <%# LIST UNBOXED ITEMS LAST %>
          <% bin.physical_objects.each do |po| %>
	    <%= render 'shipping_manifest_physical_object', bin: bin, box: nil, po: po %>
          <% end %>
        <% end %>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>
