<h2>Quality Control</h2>
<div class="left">
	<ul>
		<li>Current Digital Statuses</li>
	<% DigitalStatus.unique_statuses.each do |r| %>
		<li>
			<%= link_to("#{r[0].titleize} (#{r[1]})", quality_control_status_path(r[0])) %>	
		</li>
	<% end %>
	</ul>
</div>
<% if @physical_objects %>
	<div class="left">
		<%= render 'physical_objects/physical_objects_table' %>	
	</div>
<% end %>