/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require physical_objects
 *= require jquery-ui/sortable
 *= require jquery.qtip.min.css
 *= require_tree ./custom-theme
 */
body {
  width: 1000px;
  margin: 0 auto;
  text-align: left;
  height: 100%;
  font-family: sans-serif;
}

#header {
  height: 195px;
  position: fixed;
  top: 0px;
  z-index: 1;
}

#content {
  margin: 200px 0 0 0;
  width: 1000px;
}

h2 {
  margin: 5px 0 0 0;
  font-size: 1.2em;
  color: #7D110C;
}

table {
  border-collapse:collapse;
}

table.full_width {
  width:100%;
}

table.blocked>tbody>tr>td>ul {
  margin: 0;
  padding: 0 5px;
  list-style-type: none;
}
table.blocked>tbody>tr>td>ul>li {
 
}

table.digiprov {
  
}

.ui-accordion-content > table {
  width: 100%;
}

th, td {
  font-size: 95%;
  border: 1px solid #9D7674;
}

td.no-border {
  border: 0px;
}

td>input {
  width: 97%;
}

tr.strike {
  text-decoration: line-through;
}

tr.faded {
  color: #7F7F7F
}

#branding {
  height: 100px;
}

#version_info {
 position: absolute;
 top: 0px;
 left: 0px;
 z-index: 10;
 font-family: "Courier New", Courier, monospace;
 color: white;
}

#user_info {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 10;
  font-family: "Arial", Helvetica, sans-serif;
  color: white;
}
#user_info a:link {
  color: white;
}
#user_info a:visited {
  color: white;
}
#user_info a:hover {
  color: #DBCEAC;
}

#environment {
  background: #C49491;
  font-family: 'Tahoma';
  font-size: 16px;
  font-weight: bold;
  padding: 5px 0px;
  text-align: center;
}

#menu {
  height: 42px;
  background: #7D110C;
}
#contextMenu {
  height: 22px;
  background: #CD894E;
}

.menuItem {
  float: left;
  padding: 10px 0 0 12px;
  font-family: 'Tahoma';
  font-size: 14px;
  word-spacing: -0.3em;
  font-weight: bold;
}

.contextMenuItem {
  float: left;
  padding: 0 0 0 20px;
  font-family: 'Tahoma';
  font-size: 12px;
  font-weight: bold;
}

#basic_search_form {
  padding: 10px 0 0 30px;
  color: white;
}

.white {
  color: white;
}

a:link {
  color: #7D110C;
  font-weight: bold;
  text-decoration: none;
}
a:visited {
  color: #7D110C;
}
a:hover {
  color: #7D110C;
}

.menuItem a:link {
  color: white; 
}
.menuItem a:visited {
  color: white;
}
.menuItem a:hover {
  color: #DBCEAC;
}

.clear {
  clear: both;
}

th {
  background: rgba(125, 18, 12, 0.45);
}

tr.even {
  background: rgba(125, 18, 12, 0.15);
}

.right {
  float: right;
}

.left {
  float: left;
  margin-right: 10px;
}
 .left > table {
  max-width: 455px;
  margin-bottom: 15px;
 }

 .left > table.status {
  width: 790px;
 }

.half {
  width: 48%;
}

.dialog {
  display: none
}

#bin_div, #box_div, #spreadsheet_div {
  width: 45%;
}

#associated_div {
  width: 70%;
}

#add_item_div > p {
  margin: 0px;
}

b.warning {
  color: red;
}

b.notice {
  color: blue;
}

#new_picklist_spec_div>input {
  margin-left: 200px;
}

#error_div {
  border: 2px solid red;
}
#error_div>h2 {
  margin: 0;
  background: red;
  color: white;
  padding-left: 5px;
}
#error_div>p {
  padding: 5px 2px;
  margin: 0;
}
#error_div>ul {
  margin-top: 0;
}

.bad_barcode {
  color: red;
  font-weight: bold;
  border: 2px solid red;
}

.bad_upload {
  margin: 3px 0;
}

div.notice {
    color: #1919C8;
    font-weight: bolder;
    margin: 0px;
}

div.warning {
    color: red;
    font-weight: bolder;
    margin: 0px;
}

#pl_container_div {
  margin-bottom: 25px;
}

p {
  margin: 0;
}

.top5 {
  margin-top: 5px;
}

.top15 {
  padding-top: 15px;
}

img {
  float: left;
  margin: 0;
}

.column {
  width: 24%;
}

.mdpi_red {
  color: #7D110C;
}

.scrollingDiv {
  /*height: 400px;*/
  overflow-y: scroll;
}

tr.packed {
  background: rgb(220,220,220);
}
.packed > td > a, .packed > td > input {
  color: rgb(150,150,150);
}

.pl_button {
  width: 65px;
}

.center_inline {
    margin-left: auto;
    margin-right: auto;
}
.inline {
  display: inline;
}

.ephemera {
  width: 24px;
  text-align: center;
}

.ephemera_form {
    display: none;
}

#has_ephemera_table {
    display: none;
}

#is_archived_table {
    display: none;
}

#also_archived_table {
    display: none;
}

.ephemera img {
  margin-left: auto;
  margin-right: auto;
}

#sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#sortable li {
  margin: 0 3px 3px 3px;
  padding: 0.4em;
  padding-left: 1.5em;
}

#sortable li span {
  position: absolute;
  margin-left: -1.3em;
}

.pagination {
  background: white;
  cursor: default;
  padding: 0.2em 0.0em;
  /* self-clearing method: */ 
}
.pagination a, .pagination span, .pagination em {
  padding: 0.2em 0.5em;
  display: block;
  float: left;
  margin-right: 1px; 
}

.pagination .disabled {
  color: #777777;
  border: 1px solid #777777; 
}

.pagination .current {
  font-style: normal;
  font-weight: bold;
  background: #7D110C;
  color: white;
  border: 1px solid #7D110C; 
}

.pagination a {
  text-decoration: none;
  color: #7D110C;
  border: 1px solid #7D110C; 
}

.pagination a:hover, .pagination a:focus {
  color: #000033;
  background: rgba(125, 18, 12, 0.45);
  border-color: #000033; 
}

.pagination .page_info {
  background: rgba(125, 18, 12, 0.15);
  color: black;
  padding: 0.4em 0.4em;
  width: 22em;
  margin-bottom: 0.2em;
  text-align: left; 
}
.pagination .page_info b {
  color: black;
  background: rgba(125, 18, 12, 0.30);
  padding: 0.4em 0.5em; 
}
.pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; 
}
* html .pagination {
  height: 1%; 
}
*:first-child + html .pagination {
  overflow: hidden; 
}

.red {

  color: rgb(255, 0, 0);
  font-weight: bold
}

.green {
  color: rgb(0,255, 0);
  font-weight: bold
}

.top_red {
  border-top: 1px solid #7d110c;
  padding-top: 4px;
  color: #7d110c;
}

.po_links {
  font-size: 85%;
}


table.presInt >tbody > tr > th {
    background-color: #F5D7D5;
}

table.presRef >tbody > tr > th {
    background-color: #E5D7D5;
}

#uncheck_selected_button {
    position: relative;
    left: 880px;
    top: 20px;
}

ul.nav {
    display: none;
    padding: 0 5px 0 5px;
    margin: 0;
    background-color: #cd894e;
    color: #7d110c;
    position: absolute;
    word-spacing: normal;
    border-radius: 3px;
}
ul.nav > li {
    list-style-type: none;
}

h4 {
    padding: 0;
    margin: 0 0 10px 0;
}
