/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require physical_objects
 *= require jquery.qtip.min.css
 *= require_tree ./custom-theme
 */

body {
  width: 1000px;
  margin: 0 auto;
  text-align: left;
}

h2 {
  margin: 5px 0 0 0;
  font-size: 1.2em;
  color: #7D110C;
}

table {
  border-collapse:collapse;
}

th, td {
  font-size: 95%;
  border: 1px solid #9D7674;
}

td.no-border {
  border: 0px;
}

#branding {
  height: 100px;
}

#menu {
  height: 42px;
  background: #7D110C;
}
#contextMenu {
  height: 18px;
  background: #CD894E;
}

.menuItem {
  float: left;
  padding: 10px 0 0 20px;
  font-family: 'Tahoma';
  font-size: 16px;
  font-weight: bold;
}

.contextMenuItem {
  float: left;
  padding: 0 0 0 20px;
  font-family: 'Tahoma';
  font-size: 12px;
  font-weight: bold;
}

#basic_search_form {
  padding: 10px 0 0 45px;
}
.white {
  color: white;
}

a:link {
  color: #7D110C;
  font-weight: bold;
  text-decoration: none;
}
a:visited {
  color: #7D110C;
}
a:hover {
  color: #7D110C;
}

.menuItem a:link {
  color: white; 
}
.menuItem a:visited {
  color: white;
}
.menuItem a:hover {
  color: #DBCEAC;
}

.clear {
  clear: both;
}

th {
  background: rgba(125, 18, 12, 0.45);
}

tr.even {
  background: rgba(125, 18, 12, 0.15);
}

.left {
  float: left;
  margin-right: 15px;
}
 .left > table {
  width: 485px;
  margin-bottom: 15px
 }

.dialog {
  display: none
}

#bin_div, #box_div {
  width: 25%;
}

#add_item_div > p {
  margin: 0px;
}

b.warning {
  color: red;
}

#new_picklist_spec_div>input {
  margin-left: 200px;
}

#error_div {
  border: 2px solid red;
}
#error_div>h2 {
  margin: 0;
  background: red;
  color: white;
  padding-left: 5px;
}
#error_div>p {
  padding: 5px 2px;
  margin: 0;
}
#error_div>ul {
  margin-top: 0;
}

.bad_barcode {
  color: red;
  font-weight: bold;
  border: 2px solid red;
}

.bad_upload {
  margin: 3px 0;
}

div.notice {
    color: #1919C8;
    font-weight: bolder;
    margin: 20px 0;
}

p {
  margin: 0;
}

.top5 {
  margin-top: 5px;
}

.top15 {
  padding-top: 15px;
}

img {
  float: left;
  margin: 0;
}

.column {
  width: 24%;
}

.mdpi_red {
  color: #7D110C;
}

.scrollingDiv {
  height: 400px;
  overflow-y: scroll;
}

tr.packed {
  background: rgb(220,220,220);
}
.packed > td > a, .packed > td > input {
  color: rgb(150,150,150);
}

.pl_button {
  width: 65px;
}

.center_inline {
    margin-left: auto;
    margin-right: auto;
}

.ephemera {
  width: 24px;
  text-align: center;
}

.ephemera img {
  margin-left: auto;
  margin-right: auto;
}