// Place all the styles related to the PhysicalObjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#actionsDiv {
	clear: both;
	margin-top: 25px;
}

#assigned_to_div, #condition_statuses_div, #notes_div {
	margin-bottom: 15px;
	table {
		width: 485px;
	}
}
