// Place all the styles related to the PhysicalObjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#actionsDiv {
	clear: both;
	margin-top: 25px;
}

#assigned_to_div, #condition_statuses_div, #notes_div {
	margin-bottom: 15px;
	table {
		width: 485px;
	}
}

#po_list {
  width: 1000px;
}

#digi_status {
	width: 100%;
	clear: both;
	padding-top: 10px;
}

#digi_status > table {
	layout: fixed;
	width: 100%
}

#digi_status > table > th, td {
	padding: 3px;
}

.digi_status_date_col {
	width: 200px;
}

