<% content_for :context_menu do %>
  <div class="contextMenuItem">
    <%= link_to "Create Device", new_machine_path if policy(Machine).new? %>
  </div>
<% end %>
<div>
  <h2>Devices</h2>
  <%= render 'machines_table' %>
</div>

