<% content_for :context_menu do %>
  <div class="contextMenuItem">
    <%= link_to "Create Machine", new_machine_path %>
  </div>
<% end %>
<div>
  <h2>Machines</h2>
  <%= render 'machines_table' %>
</div>

