<% content_for :context_menu do %>
  <div class="contextMenuItem">
    <%= link_to "Edit", edit_machine_path(@machine) %>
  </div>
  <div class="contextMenuItem">
  <%= link_to "Delete", machine_path(@machine), method: :delete, data: { confirm: 'Are you sure you want to delete this Device?' } %>
  </div>
  <div class="contextMenuItem">
    <%= link_to "Device Index", machines_path %>
  </div>
<% end %>

<%= render partial: 'machine' %>

