<% content_for :context_menu do %>
  <div class="contextMenuItem">
    <%= link_to "Cancel", shipment_path(@shipment) if policy(@shipment).show? %>
  </div>
<% end %>

<div>
  <h2>Edit Shipment</h2>
  <% @edit_mode = true %>
  <% @action = "update" %>
  <% @submit_text = "Update Shipment" %>
  <%= render 'form' %>
</div>
