<% content_for :context_menu do %>
  <div class="contextMenuItem">
    <%= link_to "Cancel", shipments_path if policy(Shipment).index? %>
  </div>
<% end %>
<div>
  <h2>Create Shipment</h2>
  <% @edit_mode = true %>
  <% @action = 'create' %>
  <% @submit_text = 'Create Shipment' %>
  <%= render 'form' %> 
</div>

