<% content_for :context_menu do %>
  <div class="contextMenuItem">
    <%= link_to("Contained Objects Report", controller: 'physical_objects', action: 'contained') %>
  </div>
<% end %>
<div>
  Choose a report from the menu options above.
</div>
