<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <% @media_format = @physical_objects.first.format if @physical_objects and @physical_objects.any? %>
      <% @media_format ||= "" %>
      <% @column_names = ["Bin barcode", "Bin identifier", "Box barcode", "MDPI barcode", "Format", "Unit", "Title", "Author", "Title control number", "Call number", "Catalog key", "Home location", "IUCAT barcode", "OCLC number", "Other copies", "Group key", "Group position", "Group total", "Collection identifier", "Collection name", "Year", "Generation", "Has ephemera"] %>
      <%# format-specific columns %>
      <% if @media_format == "CD-R" %>
        <% @column_names += ["Damage", "Preservation problems", "Format duration"] %>
      <% elsif @media_format == "DAT" %>
        <% @column_names += ["Sample rate", "Format duration", "Tape stock brand", "Preservation problems"] %>
      <% elsif @media_format == "LP" %>
        <% @column_names += ["Diameter", "Speed", "Groove size", "Groove orientation", "Recording method", "Material", "Substrate", "Coating", "Sound field", "Equalization", "Country of origin", "Label", "Preservation problems", "Damage"] %>
      <% elsif @media_format == "Open Reel Audio Tape" %>
        <% @column_names += ["Pack deformation", "Preservation problems", "Reel size", "Playback speed", "Track configuration", "Tape thickness", "Sound field", "Tape stock brand", "Tape base", "Directions recorded"] %>
      <% end %>
      <Row>
      <% @column_names.each do |column_name| %>
        <Cell><Data ss:Type="String"><%= column_name %></Data></Cell>
      <% end %>
      </Row>
      <% if @physical_objects.any? %>
        <% @physical_objects.each do |po| %>
          <%= render 'modified_physical_object', bin: (po.box ? po.box.bin : po.bin), box: po.box, po: po %>
        <% end %>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>
