<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:type="String"><%= @modified_only ? "Modified " : "All " %>objects for spreadsheet:</Data></Cell>
        <Cell><Data ss:type="String"><%= @spreadsheet.filename %></Data></Cell>
      </Row>
      <Row>
      <% @column_names = ['mdpi_barcode'] %>
      <% @column_names.each do |column_name| %>
        <Cell><Data ss:Type="String"><%= column_name.titleize %></Data></Cell>
      <% end %>
      </Row>
      <% @physical_objects.each do |po| %>
        <Row>
          <% po.attributes.values_at(*@column_names).each do |cell_value| %>
            <Cell><Data ss:Type="String"><%= cell_value %></Data></Cell>
	  <% end %>
        </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>
