<% content_for :context_menu do %>
  <div class="contextMenuItem">
    <%= link_to "Create New Condition Status", new_workflow_status_template_path if policy(WorkflowStatusTemplate).new? %>
  </div>
  <div class="contextMenuItem">
    <%= link_to "Create New Condition Status", new_condition_status_template_path if policy(ConditionStatusTemplate).new? %>
  </div>
<% end %>

<h2>Statuses</h2>
<% ConditionStatusTemplate.new.object_types.keys.each do |object_type| %>
  <%= render 'condition_status_table', object_type: object_type %>
<% end %>
