<% content_for :context_menu do %>
	<div class="contextMenuItem">
    <%= link_to("Cancel", :action => 'index') if policy(ConditionStatusTemplate).index? %>
  </div>
<% end %>
<div>
  	<% @submit_text = "Create Condition Status" %>
  	<% @edit_mode = true %>
  	<% @action = 'create' %>
   	<%= render(:partial => "condition_status_template_form") %>
</div>
