<% content_for :context_menu do %>
  <div class="contextMenuItem">
    <%= link_to 'Cancel', @group_key if policy(@group_key).show? %>
  </div>
<% end %>
<div>
  <h2>Edit Group Key</h2>
  <%= render 'group_key' %>
</div>
